<div>
	<div ng-init="inicio()" id="login">
		<figure class="text-center padding">
			<img src="img/logomv.png" alt="medicavial">
		</figure>
		<div class="linea"></div>
		<form ng-submit="login()">
			<div class="cuadro centrado padding text-center">
				<h1>Bienvenido</h1>
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon glyphicon glyphicon-user"></div>
					  <input class="form-control input-lg" type="text" ng-model="usuario" placeholder="Usuario" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon glyphicon glyphicon-lock"></div>
					  <input class="form-control input-lg" type="password"  ng-model="contrasena" placeholder="Contraseña" required>
					</div>
				</div>
				<br>
				<button type="submit" id="boton" data-loading-text="Verificando..." class="btn btn-primary btn-lg">Iniciar Sesion</button>
				<br>
				<br>
				<div ng-show="mensaje" class="alert alert-danger animate-show">{{mensaje}}</div>
			</div>
		</form>
	</div>
</div>

	