
<div class="container" ng-init="inicio()">
        <ul class="nav nav-tabs">
        <li class="active">
            <a data-target="#tab-one" ng-click="" data-toggle="tab">Agendar Cita</a>
        </li>
         <li >
            <a href="#/hospitalarios" data-target="#tab-one" data-toggle="tab">Buscar Citas Pendientes</a>
        </li>
    </ul>
    <form class="form-horizontal">
    <br>
    <fieldset>
        <legend>Datos</legend>
    </fieldset>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-3">Clave Auntorización:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="aum_clave" ng-model="datos.aum_clave" placeholder="Clave">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Proveedor:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="proveedor" ng-model="datos.proveedor" placeholder="Proveedor">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Costo Estimado:</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="costo" ng-model="datos.costo" placeholder="Costo">
        </div>
    </div>
    <div class="form-group">
            <label for="folio" class="control-label col-xs-3">Fecha Registro:</label>
        <div class="col-xs-2">
            <input type="text" ng-disabled="edicion" class="form-control  input-lg" ng-model="datos.fecharegistro" data-date-format="YYYY-MM-DD" id="fechaAt" placeholder="Fecha">
        </div>
    </div>
    <div class="form-group">
            <label for="folio" class="control-label col-xs-3">Hora de la Cita:</label>
            <div class="col-xs-2">
                    <input type='text' ng-disabled="edicion1"  class="form-control input-lg" ng-model="datos.horacita" id="hora" placeholder="Hora de la Cita">
            </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Notas:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.notas" id="notas"></textarea>
        </div>
    </div>
        <div class="form-group">
        <label class="control-label col-xs-3">Informacion de Referencia:</label>
        <div class="col-xs-9">
            <textarea rows="2" class="form-control" placeholder="Informacion de Referencia" ng-model="datos.referencia" id="referencia"></textarea>
        </div>
    </div>
    <br>
    <div ng-show="mensaje" class="alert  animate-show text-center" ng-class="alerta">{{mensaje}}</div>
        <div class="row text-left">
        <div class="col-md-4">
            <button type="button" ng-click="agenda()" ng-hide="edicion" class="btn btn-primary btn-lg btn-block glyphicon glyphicon-floppy-disk"> Guardar Confirmar</button>
            <br>
        </div>
        <div class="col-md-4">
            <a type="button" ng-click="confirmar()" class="btn btn-danger btn-lg glyphicon glyphicon-book btn-block" > Guardar sin Confirmar </a>
            <br>
        </div>
        <div class="col-md-4">
            <a href="#/agenda" ng-click="inicio()" class="btn btn-default btn-lg glyphicon glyphicon-book btn-block" > Limpiar</a>
            <br>
        </div>

    </div>

    </form>

</div>

<script type="text/javascript">
       $('#fechaAt').datetimepicker({

        pickDate: true,                 //en/disables the date picker
        pickTime: false,                 //en/disables the time picker     
        showToday: true,                 //shows the today indicator
        language:'es'                  //sets language locale

    });
        $(function () {
                $('#hora').datetimepicker({
                    pickDate: false
                });
            });
</script>
