
<div class="container" ng-init="inicio()">
    <form class="form-horizontal" ng-submit="agenda()">
    <br>
    <div class="form-group">
        <label class="control-label col-xs-3">Clave Auntorización:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="aum_clave" ng-model="datos.aum_clave" placeholder="Clave">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Proveedor:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="proveedor" ng-model="datos.proveedor" placeholder="Proveedor">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Costo Estimado:</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="costo" ng-model="datos.costo" placeholder="Costo">
        </div>
    </div>
    <div class="form-group">
            <label for="folio" class="control-label col-xs-3">Fecha Registro</label>
        <div class="col-xs-2">
            <input type="text" ng-disabled="edicion" class="form-control  input-lg" ng-model="datos.fecharegistro" data-date-format="YYYY-MM-DD" id="fechaAt">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Notas:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.notas" id="notas"></textarea>
        </div>
    </div>
        <div class="form-group">
        <label class="control-label col-xs-3">Informacion de Referencia:</label>
        <div class="col-xs-9">
            <textarea rows="2" class="form-control" placeholder="Informacion de Referencia" ng-model="datos.referencia" id="referencia"></textarea>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-2">
            <buttom type="submit" ng-click="agenda()" class="btn btn-primary" id="boton"> Enviar</buttom>
            <buttom type="reset" class="btn btn-default"> Limpiar</buttom>
        </div>
    </div>

    </form>

</div>

<script type="text/javascript">
       $('#fechaAt').datetimepicker({

        pickDate: true,                 //en/disables the date picker
        pickTime: false,                 //en/disables the time picker     
        showToday: true,                 //shows the today indicator
        language:'es'                  //sets language locale

    });
</script>
