
<div class="container" ng-init="inicio()">
    <form class="form-horizontal" name="formulario">
    <br>
    <fieldset>
        <legend>Datos</legend>
    </fieldset>
    <div class="row">
        <div class="col-xs-3">
        <label for="folio">Folio:</label>
            <input type="text" id="folio" class="form-control"  ng-disabled="edicion" ng-model="datos.folio"  mayusculas >
        </div>
        <div class="col-xs-6">
            <label for="folio">Paciente:</label>
            <input type="text" id="paciente" class="form-control"  ng-disabled="edicion" ng-model="datos.paciente"  mayusculas >
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-3">Clave Autorización:</label>
        <div class="col-xs-3">
            <input type="text" id="autorizacion" class="form-control  input-lg" ng-keydown="presionaautorizacion" ng-maxlength="10" ng-disabled="edicion" ng-model="datos.autorizacion"  mayusculas >
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Proveedor:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="proveedor" ng-model="datos.proveedor" placeholder="Proveedor" mayusculas>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Costo Estimado:</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="costo" ng-model="datos.costo" placeholder="Costo" numero required>
        </div>
    </div>
    <div class="form-group">
          <label class="control-label col-xs-3">Tipo de Cita</label>
          <div class="col-xs-4">
          <select class="form-control  input-lg" ng-model="datos.tipo" disabled="edicion" mayusculas>
            <option value="">Tipo de Cita</option>
            <option value="4">Interconsultas</option>
            <option value="3">Estudio Especial</option> 
          </select>
      </div>
        </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Descripción</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.descripcion" id="descripcion"  ng-disabled="edicion" mayusculas></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Notas:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.notas" id="notas"  mayusculas></textarea>
        </div>
    </div>
        <div class="form-group">
        <label class="control-label col-xs-3">Informacion de Referencia:</label>
        <div class="col-xs-9">
            <textarea rows="2" class="form-control" placeholder="Informacion de Referencia" ng-model="datos.referencia" id="referencia"  mayusculas></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3" for="folio">Fecha Cita</label>
            <div class="col-xs-3">
            <input type="text" class="form-control  input-lg" ng-model="datos.fechacita" data-date-format="YYYY-MM-DD" id="fechaAt">
        </div>
            <label class="control-label col-xs-3" for="folio">Hora Cita</label>
            <div class="col-xs-3">
                <div class='input-group date' id='hora'>
                    <input type='text'  ng-model="datos.horacita"  data-date-format="hh:mm"  class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Confirmado por:</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" id="proveedor1" ng-model="datos.proveedor1" placeholder="Proveedor" mayusculas>
    </div>
    </div>  
    <br>
    <fieldset>
        <legend>Confirmación de la Cita</legend>
    </fieldset>  
     <div class="row">      
    <div class="form-group">
        <label class="control-label col-xs-3">Confirmado por:</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="paciente" name="paciente"  ng-model="datos.paciente1" placeholder="Paciente" mayusculas>
        </div>
    
        <div class="col-md-2">
            <button type="button"  class="btn btn-info btn-lg" ng-click="datos.paciente1 = 'Mismo Paciente'"> Mismo P</button>
        </div>
        <div class="col-md-2">
            <button type="button"  class="btn btn-info btn-lg" ng-click="datos.paciente1 = 'Familiar:'"> Familiar</button>
            <br>
        </div>
    </div>
    </div>
        <br>
    <div ng-show="mensaje" class="alert  animate-show text-center" ng-class="alerta">{{mensaje}}</div>
        <div class="row text-left">
        <div class="col-md-4">
            <button type="button" ng-click="agenda()" class="btn btn-primary btn-lg btn-block glyphicon glyphicon-floppy-disk"> Guardar Confirmar</button>
            <br>
        </div>
        <div class="col-md-4">
            <a type="button" ng-click="confirmar()" class="btn btn-danger btn-lg glyphicon glyphicon-book btn-block" > Guardar sin Confirmar </a>
            <br>
        </div>
        <div class="col-md-4">
            <a href="#/agenda" ng-click="inicio()" class="btn btn-default btn-lg glyphicon glyphicon-book btn-block" > Limpiar</a>
            <br>
        </div>

    </div>

    </form>


</div>


<script type="text/javascript">
     
        $(function () {
              $('#fechaAt').datetimepicker({

                pickDate: true,                 //en/disables the date picker
                pickTime: false,                 //en/disables the time picker     
                showToday: true,                 //shows the today indicator
                language:'es',  
                minDate: Date()

                 //sets language locale

           });
            $('#fechaAt2').datetimepicker({

                pickDate: true,                 //en/disables the date picker
                pickTime: false,                 //en/disables the time picker     
                showToday: true,                 //shows the today indicator
                language:'es',
                minDate: Date()

                   //sets language locale

           });
            $('#hora').datetimepicker({
                    pickDate: false
                });
             $('#hora2').datetimepicker({
                    pickDate: false
                });
            });

</script>

