<div ng-init="inicio()">
	<h1>Busquedas</h1>
	<ul class="nav nav-tabs">
	    <li class="active">
	        <a data-target="#tab-one" ng-click="buscaautorizaciones()" data-toggle="tab">Autorizaciones</a>
	    </li>
	    <li >
	        <a data-target="#tab-two" ng-click="buscahospitalarios()" data-toggle="tab" >Hosptalarios</a>
	    </li>
	    <li >
	        <a data-target="#tab-three" ng-click="" data-toggle="tab" >Pagos</a>
	    </li>
	</ul>

	<div class="tab-content">
	    <div id="tab-one" class="tab-pane active">
	    	<form ng-submit="buscarAut()">
		        <div class="padding">
					<div class="row">
						<div class="col-md-3">
							<label for="criterio">Folio</label>
						    <input type="text" ng-model="autorizacion.folio" class="form-control input-lg" folio="verificaFolioA">
						    <br>
						</div>
						<div class="col-md-3">
							<label for="criterio">Autorización</label>
						    <input type="text" ng-model="autorizacion.autorizacion" class="form-control input-lg" mayusculas>
						    <br>
						</div>
						<div class="col-md-6">
							<label class="checkbox-inline">
							  <input type="checkbox" ng-click="fechaaut = !fechaaut" id="inlineCheckbox1" value="option1"> Fecha Autorización
							</label>
							<!-- <label for="criterio">Fecha Autorización</label> -->
							<div class="row" ng-show="fechaaut">
		
								<div class="col-md-6">
									<input type="text" class="form-control  input-lg" ng-model="autorizacion.fechaini" data-date-format="YYYY-MM-DD" id="fechaIn" placeholder="Inicio">
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control input-lg" ng-model="autorizacion.fechafin" data-date-format="YYYY-MM-DD" id="fechaFin" placeholder="Fin">
								</div>
							</div>
							<br>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<label for="criterio">Lesionado</label>
						    <input type="text" ng-model="autorizacion.lesionado" class="form-control input-lg" mayusculas>
						    <br>
						</div>
						<div class="col-md-3">
							<label for="cliente">Cliente</label>
							<select class="form-control  input-lg" ng-model="autorizacion.cliente" ng-options="cliente.id as cliente.Nombre for cliente in clientes">
								<option value="">Cliente</option>
							</select>
							<br>
						</div>
						<div class="col-md-3">
							<label for="unidad">Unidad Médica</label>
							<select class="form-control  input-lg" ng-model="autorizacion.unidad" ng-options="unidad.id as unidad.Nombre for unidad in unidades">
								<option value="">Unidad</option>
							</select>
							<br>
				        </div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<br>
							<button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
						</div>
						<div class="col-md-3">
							<br>
							<button type="reset" class="btn btn-success btn-lg btn-block">Limpiar</button>
						</div>
						<div class="col-md-3">
							<br>
							<excel info="autorizaciones"></excel>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table">
									
							    <thead>
							        <tr>
							          <th><a href="" ng-click="predicate = 'clave'; reverse=!reverse">Autorizacion</a></th>
							          <th><a href="" ng-click="predicate = 'fecha'; reverse=!reverse">Fecha</a></th>
							          <th><a href="" ng-click="predicate = 'cliente'; reverse=!reverse">Cliente</a></th>
							          <th><a href="" ng-click="predicate = 'unidad'; reverse=!reverse">Unidad</a></th>
							          <th><a href="" ng-click="predicate = 'lesionado'; reverse=!reverse">Lesionado</a></th>
							          <th><a href="" ng-click="predicate = 'folio'; reverse=!reverse">Folio</a></th>
							          <th><a href="" ng-click="predicate = 'fecharegistro'; reverse=!reverse">Fecha Registro</a></th>
							          <th><a href="" ng-click="predicate = 'usuario'; reverse=!reverse">Usuario</a></th>
							        </tr>
							    </thead>

							    <tbody>
							        <tr ng-repeat="auto in autorizaciones | orderBy:predicate:reverse" >

							          <td>
							          	<a ng-href="#/autorizacion/{{auto.clave}}">{{auto.clave}}
							          	</a>
							          </td>
							          <td>{{auto.fecha}}</td>
							          <td>{{auto.cliente}}</td>
							          <td>{{auto.unidad}}</td>
							          <td>{{auto.lesionado}}</td>
							          <td>{{auto.folio}}</td>
							          <td>{{auto.fecharegistro}}</td>
							          <td>{{auto.usuario}}</td>
							        </tr> 
							    </tbody>
							    
							    </table>
							</div>
						</div>
					</div>	
		    	</div>
	    	</form>
	    </div>
	    <div id="tab-two" class="tab-pane">
	    <!--	<div ng-show="hospitalario == 1"> !-->
		    	<form ng-submit="buscarHos()">
			        <div class="padding">
				    	<div class="row">
							<div class="col-md-3">
								<label for="criterio">Folio</label>
							    <input type="text" ng-model="hospitalario.folio" class="form-control input-lg" folio="verificaFolioH">
							    <br>
							</div>
							<div class="col-md-3">
								<label for="criterio">Hospitalario</label>
							    <input type="text" ng-model="hospitalario.hospitalario" class="form-control input-lg" mayusculas>
							    <br>
							</div>
							<div class="col-md-6">
								<label class="checkbox-inline">
								  <input type="checkbox" ng-click="fechahos = !fechahos" id="inlineCheckbox1" value="option1"> Fecha Hospitalario
								</label>

								<div class="row" ng-show="fechahos">
									<div class="col-md-6">
										<input type="text" class="form-control  input-lg" ng-model="hospitalario.fechaini" data-date-format="YYYY-MM-DD" id="fechaIn2" placeholder="Inicio">
									</div>
									<div class="col-md-6">
										<input type="text" class="form-control input-lg" ng-model="hospitalario.fechafin" data-date-format="YYYY-MM-DD" id="fechaFin2" placeholder="Fin">
									</div>
								</div>
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label for="criterio">Lesionado</label>
							    <input type="text" ng-model="hospitalario.lesionado" class="form-control input-lg" mayusculas>
							    <br>
							</div>
							<div class="col-md-3">
								<label for="cliente">Cliente</label>
								<select class="form-control  input-lg" ng-model="hospitalario.cliente" ng-options="cliente.id as cliente.Nombre for cliente in clientes">
									<option value="">Cliente</option>
								</select>
								<br>
							</div>
							<div class="col-md-3">
								<label for="unidad">Unidad Médica</label>
								<select class="form-control  input-lg" ng-model="hospitalario.unidad" ng-options="unidad.id as unidad.Nombre for unidad in unidades">
									<option value="">Unidad</option>
								</select>
								<br>
					        </div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<br>
								<button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
							</div>
							<div class="col-md-3">
								<br>
								<button type="reset" class="btn btn-success btn-lg btn-block">Limpiar</button>
							</div>
							<div class="col-md-3">
								<br>
								<excel info="hospitalarios"></excel>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table">
								    <thead>
								        <tr>
								          <th><a href="" ng-click="predicate2 = 'clave'; reverse2=!reverse2">Clave</a></th>
								          <th><a href="" ng-click="predicate2 = 'unidad'; reverse2=!reverse2">Unidad</a></th>
								          <th><a href="" ng-click="predicate2 = 'cliente'; reverse2=!reverse2">Cliente</a></th>
								          <th><a href="" ng-click="predicate2 = 'folio'; reverse2=!reverse2">Folio</a></th>
								          <th><a href="" ng-click="predicate2 = 'lesionado'; reverse2=!reverse2">Lesionado</a></th>
								          <th><a href="" ng-click="predicate2 = 'poliza'; reverse2=!reverse2">Poliza</a></th>
								          <th><a href="" ng-click="predicate2 = 'siniestro'; reverse2=!reverse2">Siniestro</a></th>
								          <th><a href="" ng-click="predicate2 = 'riesgo'; reverse2=!reverse2">Riesgo</a></th>
								          <th><a href="" ng-click="predicate2 = 'reporte'; reverse2=!reverse2">Reporte</a></th>
								          <th><a href="" ng-click="predicate2 = 'fechacaptura'; reverse2=!reverse2">Fecha Captura</a></th>
								          <th><a href="" ng-click="predicate2 = 'fechahospitalario'; reverse2=!reverse2">Fecha Hospitalarios</a></th>
								          <th><a href="" ng-click="predicate2 = 'reporta'; reverse2=!reverse2">Reporta</a></th>
								          <th><a href="" ng-click="predicate2 = 'autoriza'; reverse2=!reverse2">Autoriza</a></th>
								          <th><a href="" ng-click="predicate2 = 'motivo'; reverse2=!reverse2">Motivo</a></th>
								        </tr>
								    </thead>

								    <tbody>
								        <tr ng-repeat="hos in hospitalarios | orderBy:predicate2:reverse2" >

								          <td>
								          	<a ng-href="#/hospitalario/{{hos.clave}}">{{hos.clave}}</a>
								          </td>
								          <td>{{hos.unidad}}</td>
								          <td>{{hos.cliente}}</td>
								          <td>{{hos.folio}}</td>
								          <td>{{hos.lesionado}}</td>
								          <td>{{hos.poliza}}</td>
								          <td>{{hos.siniestro}}</td>
								          <td>{{hos.riesgo}}</td>
								          <td>{{hos.reporte}}</td>
								          <td>{{hos.fechacaptura}}</td>
								          <td>{{hos.fechahospitalario}}</td>
								          <td>{{hos.reporta}}</td>
								          <td>{{hos.autoriza}}</td>
								          <td>{{hos.motivo}}</td>
								        </tr> 
								    </tbody>
								    
								    </table>
								</div>			
							</div>
						</div>		
			    	</div>
			    </form>
	<!--    	</div> 
   	    	<div ng-hide="hospitalario == 0">
	    		Tu usuario no tiene permisos para acceder aqui
	    	</div> !-->
	    </div>

	     <div id="tab-three" class="tab-pane">

            <div class="row">
      
                  <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-title"><i class="glyphicon glyphicon-folder-open"></i> Detalles de busqueda </div>
                        <div class="widget-body">

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="input-group">
                                      <span class="input-group-addon glyphicon glyphicon-qrcode"></span>
                                      <input type="text" class="form-control" ng-model="datos.foliofiscal" placeholder="Folio Fiscal">
                                    </div>
                                </div>

        						<div class="col-md-3">
									<div class="input-group">
									  <button type="submit" class="btn btn-danger btn-lg btn-block" ng-click="elimina_factura()">Eliminar Factura</button>
								    </div>
                              </div>

                              <div class="col-md-6">

                              	<strong>ESTATUS DE FACTURA : {{ datos.estatus }} </strong>

                              </div>

                            </div>

                              <br>
                              
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="input-group">
                                      <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                                      <input type="text" class="form-control" ng-model="datos.rfc" placeholder="RFC" mayusculas>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group">
                                      <span class="input-group-addon glyphicon glyphicon-user"></span>
                                      <input type="text" class="form-control" ng-model="datos.emisor" placeholder="Emisor" mayusculas>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" id="fechaini2" ng-model="datos.fechaini" data-date-format="YYYY-MM-DD" class="form-control" placeholder="Fecha Emisión de Factura" />
                                </div>

                              </div>
                              <br>
                              <div class="text-center">
                                    <button type="button" class="btn btn-primary" ng-click="Buscar()">Consultar</button>
                              </div>

                    </div>
                  </div>
            </div>
        </div>

            <br>

            <div class="row">


                            <fieldset>
                                <legend>Datos de la Factura</legend>
                            </fieldset>

                            <div class="row">
                                <div class="col-md-8">
                                    <h4>
                                        Fecha de Emisión  : <strong><span class="digito">{{ datos.fechaemision }}</span></strong>
                                    </h4>
                                </div>
                            </div> 

                            <div class="row">
                                <div class="col-md-8">
                                    <h4>
                                        Autorización No. : <strong><span class="digito">{{ datos.autorizacion }}</span></strong>
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        Movimiento No. : <strong><span class="digito">{{ datos.movimiento }}</span></strong>
                                    </h4>
                                </div>
                            </div>  
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <div >
                                        Folio Fiscal : <strong>{{ datos.foliofiscal }}</strong>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div >
                                        RFC : <strong>{{ datos.rfc }}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div >
                                        Emisor : <strong>{{ datos.emisor }}</strong>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div >
                                        Receptor : <strong>{{ datos.receptor }}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div >
                                        Subtotal : <strong>{{ datos.subtotal }}</strong>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div >
                                        IVA : <strong>{{ datos.iva }}</strong>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div >
                                        Total : <strong>{{ datos.total }}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div >
                                        Descuento : <strong>{{ datos.descuento }}</strong>
                                    </div>
                                </div>
                            </div>

            </div>

            <br>

            <div class="row">

                <fieldset>
                    <legend>Detalle de Archivos</legend>
                </fieldset>


                    <div>
                        <ul class="list-group">
                          <li class="list-group-item" ng-repeat="archivosdetalles in archivosdetalles">
                                <a ng-src="../registrosmedicos/Facturas/{{ datos.autorizacion }}-{{ datos.movimiento }}/{{archivosdetalles}}" target="_blank" ng-href="../registrosmedicos/Facturas/{{ datos.autorizacion }}-{{ datos.movimiento }}/{{archivosdetalles}}"  class="btn btn-warning">Archivo Adjunto</a>
                                {{ archivosdetalles }}
                          </li>
                        </ul>     
                    </div>

            </div>

    </div>

    </div>
	</div>

</div>

<script>

		$('#fechaIn').datetimepicker({
			pickDate: true,                 //en/disables the date picker
		    pickTime: false,                 //en/disables the time picker     
		    showToday: true,                 //shows the today indicator
		    language:'es'                  //sets language locale
		});
	    $('#fechaFin').datetimepicker({
	    	pickDate: true,                 //en/disables the date picker
		    pickTime: false,                 //en/disables the time picker     
		    showToday: true,                 //shows the today indicator
		    language:'es'                  //sets language locale
	    });
	    $("#fechaIn").on("dp.change",function (e) {
	       $('#fechaFin').data("DateTimePicker").setMinDate(e.date);
	    });
	    $("#fechaFin").on("dp.change",function (e) {
	       $('#fechaIn').data("DateTimePicker").setMaxDate(e.date);
	    });


	    $('#fechaIn2').datetimepicker({
			pickDate: true,                 //en/disables the date picker
		    pickTime: false,                 //en/disables the time picker     
		    showToday: true,                 //shows the today indicator
		    language:'es'                  //sets language locale
		});
	    $('#fechaFin2').datetimepicker({
	    	pickDate: true,                 //en/disables the date picker
		    pickTime: false,                 //en/disables the time picker     
		    showToday: true,                 //shows the today indicator
		    language:'es'                  //sets language locale
	    });
	    $("#fechaIn2").on("dp.change",function (e) {
	       $('#fechaFin2').data("DateTimePicker").setMinDate(e.date);
	    });
	    $("#fechaFin2").on("dp.change",function (e) {
	       $('#fechaIn2').data("DateTimePicker").setMaxDate(e.date);
	    });

</script>