<div ng-init="inicio()">
	<br>
		<ul class="nav nav-tabs">
	    <li class="active">
	        <a data-target="#tab-one" ng-click="buscaautorizaciones()" data-toggle="tab">Agendar Cita <strong> ({{ contador }}) </strong></a>
	    </li>
	    <li >
	        <a data-target="#tab-two" ng-click="buscaconfirmaciones()" data-toggle="tab">Confirmar Cita <strong> ({{ contadorcita }}) </strong></a>
	    </li>
	    <li >
	        <a data-target="#tab-tres" ng-click="" data-toggle="tab">Resultados</a>
	    </li>
	    <li >
	        <a data-target="#tab-cuatro" ng-click="" data-toggle="tab">Observaciones</a>
	    </li>
	</ul>
    <div class="tab-content">
	    <div id="tab-one" class="tab-pane active">
	    	<form ng-submit="buscarAutorizacion()">
		        <div class="padding">
					<div class="row">
						<div class="col-md-3">
							<label for="criterio">Folio</label>
						    <input type="text" ng-model="autorizacion.folio" class="form-control input-lg" folio="verificaFolioA">
						    <br>
						</div>
						<div class="col-md-3">
							<label for="criterio">Autorización</label>
						    <input type="text" ng-model="autorizacion.autorizacion" class="form-control input-lg" mayusculas>
						    <br>
						</div>						
					</div>
					<div class="row">
						<div class="col-md-2">
							<br>
							<button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
						</div>
						<div class="col-md-2">
							<br>
							<button type="reset" class="btn btn-success btn-lg btn-block">Limpiar</button>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table">
									
							    <thead>
							        <tr>
							          <th>Autorizacion</th>
							          <th>Tipo</th>
							          <th>Paciente</th>
							          <th>Unidad Medica</th>
							          <th>Fecha</th>
							          <th>Compañia</th>
							          <th>Semaforo</th>
							        </tr>
							    </thead>

							    <tbody>
							        <tr ng-repeat="auto in autoriza" >

							          <td>{{auto.autorizacion}}</td>
							          <td>{{auto.tipo}}</td>
							          <td>{{auto.lesionado}}</td>
							          <td>{{auto.unidad}}</td>
							          <td>{{auto.fecha}}</td>
							          <td>{{auto.cliente}}</td>
							          <td></td>
							          <td>
							              <a ng-href="#/agenda/{{auto.autorizacion}}/{{auto.clave_tipo}}" class="btn btn-primary">Agendar</a>
							          </td>
							        </tr> 
							    </tbody>
							    
							    </table>
							</div>
						</div>
					</div>	
		    	</div>
	    	</form>
	    </div>

<div id="tab-two" class="tab-pane">
   <form ng-submit="buscarConfirmados()">
		        <div class="padding">
		        	<div class="row">
						<div class="col-md-3">
							<label for="criterio">Folio</label>
						    <input type="text" ng-model="confirma.folio" class="form-control input-lg" folio="verificaFolioA">
						    <br>
						</div>
						<div class="col-md-3">
							<label for="criterio">Autorización</label>
						    <input type="text" ng-model="confirma.autorizacion" class="form-control input-lg" mayusculas>
						    <br>
						</div>						
					</div>
					<div class="row">
						<div class="col-md-2">
							<br>
							<button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
						</div>
						<div class="col-md-2">
							<br>
							<button type="reset" class="btn btn-success btn-lg btn-block">Limpiar</button>
						</div>
					</div>
					<div class="row">
					<br>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table">
									
							    <thead>
							        <tr>
							          <th>Autorizacion</th>
							          <th>Tipo</th>
							          <th>Costo Estimado</th>
							          <th>Paciente</th>
							          <th>Proveedor</th>
							        </tr>
							    </thead>

							    <tbody>
							        <tr ng-repeat="con in confirma" >

							          <td>{{con.autorizacion}}</td>
							          <td>{{con.tipo}}</td>
							          <td>{{con.costo}}</td>
							          <td>{{con.paciente}}</td>
							          <td>{{con.proveedor}}</td>
							          <td>
							              <a ng-href="#/confirma/{{con.autorizacion}}" class="btn btn-primary">Confirmar</a>
							          </td>
							        </tr> 
							    </tbody>
							    
							    </table>
							</div>
						</div>
					</div>	
		    	</div>
	    	</form>
</div>
</div>
</div>
