<div ng-init="inicio()">

    <h1>Busqueda</h1>

    <div class="row">
        
        <!-- <div class="spacer visible-xs"></div> -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="widget">
            <div class="widget-body">
              <div class="widget-content pull-left text-center">
                    <div class="row">

                      <div class="col-md-8">
                          <div class="input-group">
                            <span class="input-group-addon">Buscar Por: </span>
                            <input type="text" class="form-control" ng-model="datos.codigo" placeholder="Ingresa Palabra a Buscar" mayusculas>
                      </div>

                      </div>

                      <div class="comment">
                         <button class="btn btn-primary" ng-click="Buscar()">Consultar</button>
                      </div>
                    </div>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
    </div>

</div>