<div class="container" ng-init="inicio()">

	<br>
	<form>
    <fieldset>
        <legend>Observaciones Coordinación Medica</legend>
    </fieldset>
	<div class="row">
		
		<div class="col-md-12">
	        <label for="folio">Observaciones:</label>
	        <textarea  name="motivo" id="motivo" class="form-control " ng-model="datos.observaciones" rows="5" mayusculas></textarea>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-6">
	       	<label for="folio">Preexistencia:</label>
            <input type="checkbox" ng-model="datos.preexistencia" ng-true-value="SI" ng-false-value="NO"> <br/>
		</div>	
	</div>
      <br><br> 
      <div ng-show="mensaje" class="alert  animate-show text-center" ng-class="alerta">{{mensaje}}</div>
      <div class="col-md-5">
	<button type="submit" ng-click="guardar()" class="btn btn-primary glyphicon glyphicon-upload">Subir y Guardar</button>
	  </div>
</form>
</div>
