<div class="container" ng-init="inicio()">
    <form class="form-horizontal">
    <br>
    <fieldset>
        <legend>Detalle del Resultado</legend>
    </fieldset>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-3">Clave Auntorización:</label>
        <div class="col-xs-3">
            <input type="text" id="autorizacion" class="form-control  input-lg" ng-keydown="presionaautorizacion" ng-maxlength="10" ng-disabled="edicion" ng-model="datos.autorizacion"  mayusculas >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Proveedor:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="proveedor" ng-model="datos.proveedor" placeholder="Proveedor" ng-disabled="edicion" mayusculas>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Costo Estimado:</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="costo" ng-model="datos.costo" placeholder="Costo"  ng-disabled="edicion" mayusculas>
        </div>
    </div>
    <div class="form-group">
          <label class="control-label col-xs-3">Tipo de Cita</label>
          <div class="col-xs-4">
          <select class="form-control  input-lg" ng-model="datos.cita" ng-disabled="edicion" mayusculas>
            <option value="">Tipo de Cita</option>
            <option value="4">Interconsultas</option>
            <option value="3">Estudio Especial</option>
          </select>
      </div>
        </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Notas:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.notas" id="notas"  ng-disabled="edicion" mayusculas></textarea>
        </div>
    </div>
        <div class="form-group">
        <label class="control-label col-xs-3">Informacion de Referencia:</label>
        <div class="col-xs-9">
            <textarea rows="2" class="form-control" placeholder="Informacion de Referencia" ng-model="datos.referencia" id="referencia"  ng-disabled="edicion" mayusculas></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3" for="folio">Fecha Cita</label>
            <div class="col-xs-3">
            <input type="text" class="form-control  input-lg" ng-model="datos.fechacita" data-date-format="YYYY-MM-DD" id="fechaAt" ng-disabled="edicion">
        </div>
            <label class="control-label col-xs-3" for="folio">Hora Cita</label>
            <div class="col-xs-3">
                <div class='input-group date' id='hora'>
                    <input type='text'  ng-model="datos.horacita"  data-date-format="hh:mm"  class="form-control" ng-disabled="edicion"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
        

        <div class="form-group">
        <label class="control-label col-xs-3">Paciente:</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" id="paciente" ng-model="datos.paciente" ng-disabled="edicion" placeholder="Proveedor" mayusculas>
        </div>

    </div>

        <div class="form-group">
        <label class="control-label col-xs-3">Proveedor:</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" id="proveedor1" ng-model="datos.proveedor" placeholder="Proveedor" ng-disabled="edicion" mayusculas>
            
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Observacion de Resultados:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.observacionres" id="notas"  ng-disabled="edicion" mayusculas></textarea>
        </div>
    </div>
  
        <br>
    </div>
    <br>

    <fieldset>
        <legend>Observaciones de Coordinación Medica</legend>
    </fieldset>
    <a ng-href="#/{{myPathVariable}}" target="_blank" class="btn btn-primary">Imagen Adjunta</a>
    <div class="form-group">
        <label class="control-label col-xs-3">Observaciones:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="datos.observacion" id="notas" mayusculas></textarea>
        </div>
    </div>
    <div class="row">
		<div class="col-md-6">
	       	<label for="folio">Preexistencia:</label>
            <input type="checkbox" ng-model="datos.preexistencia" ng-true-value="SI" ng-false-value="NO"> <br/>
		</div>	
	</div>
    <br>
	<div ng-show="mensaje" class="alert  animate-show text-center" ng-class="alerta">{{mensaje}}</div>
    <div class="row text-left">
        <div class="col-md-4">
            <button type="button" ng-click="actualiza()" class="btn btn-primary btn-lg btn-block glyphicon glyphicon-floppy-disk">  Enviar</button>
            <br>
        </div>
    </div>
</form>

<div ng-show="correo1">
    <fieldset>
        <legend>Correo</legend>
    </fieldset>
<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-xs-3">Para:</label>
        <div class="col-xs-9">
            <input class="form-control" placeholder="Correo" ng-model="correo.para" id="notas"></input>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">CC:</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="proveedor" ng-model="correo.copia">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Comentarios:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" placeholder="Notas" ng-model="correo.comentarios" id="notas"  mayusculas></textarea>
        </div>
    </div>
    <div ng-show="mensaje1" class="alert  animate-show text-center" ng-class="alerta">{{mensaje}}</div>
    <div class="row text-left">
        <button type="button" id="loading-example-btn" data-loading-text="Enviando..." class="btn btn-primary" ng-click="envia()" >Enviar</button>

    </div>
</form>
</div>
</div>
<script type="text/javascript">
     
        $(function () {
              $('#fechaAt').datetimepicker({

                pickDate: true,                 //en/disables the date picker
                pickTime: false,                 //en/disables the time picker     
                showToday: true,                 //shows the today indicator
                language:'es'                  //sets language locale

    });
                $('#hora').datetimepicker({
                    pickDate: false
                });
            });


</script>